{% extends 'base.html' %}
{% block content %}

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-12">
            <h2 class="page-header">执行列表</h2>
        </div>
        <!-- /.col-lg-12 -->
    </div>
    <!-- /.row -->


    <div class="row" style="font-size:13px">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    我的执行
                </div>
                <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="dataTable_wrapper">

                    <form>
                 <div class="col-sm-5">
                                <input name="word" type="text" class="form-control" placeholder="" value="{{word1}}"></div>
                            <div class="col-sm-1">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i>
                                </button>
                            </div>
                        </form>

                         <br/><br/><br/>
                        <table class="table table-striped table-bordered table-hover table-condensed" id="dataTables-example">
                            <thead>
                            <tr>
                                <th>服务名称</th>
                                <th>区域</th>
                                <th>环境</th>
                                <th>终端</th>
                                <th>申请人</th>
                                <th>申请时间</th>
                                <th>审批人</th>
                                <th style="text-align:center;" width="50px">状态</th>
                                <th style="text-align:center;" width="50px">详细</th>
                                <th style="text-align:center;" width="50px">跟踪</th>
                                <th style="text-align:center;" width="50px" colspan="2">操作</th>

                            </tr>
                            </thead>
                            <tbody>
{% for i in info %}
<tr>

<td>{{i[2]}}</td>
<td>{{i[3]}}</td>
<td>{{i[4]}}</td>
<td>{{i[5]}}</td>
<td>{{i[17]}}</td>
<td>{{i[18]}}</td>
<td>{{i[21]}}</td>
<td align="center"><span class="label label-{% if i[23] == "已完成" %}success{% elif i[23] == "已驳回" or i[23] == "已驳回 " %}danger{% elif i[23] == "待执行" %}default{% else %}info{% endif %}">{{i[23]}}</span></td>
<td align="center"><a data-toggle="collapse" data-target="#{{i[0]}}"><span class="fa fa-plus btn btn-xs"></span></a></td>
<td align="center"><a data-toggle="collapse" data-target="#lc{{i[0]}}"><span class="fa fa-search btn btn-xs"></span></a></td>
<td align="center"><a class="btn btn-primary btn-xs {% if i[23] != "待执行" %}disabled{% endif %} " type="button" data-toggle="modal" data-target="#myModal{{i[0]}}"><span class="fa fa-check"></span></a></td>
    <div class="modal fade" id="myModal{{i[0]}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel{{i[0]}}">执行操作</h4>
      </div>
      <div class="modal-body ">
          <form method="post">
              <div class="form-group col-lg-12">
        <div class="col-lg-2"><h5 style="float:right;">IP(全)<font style="color:red;"> *</font></h5></div>
        <div class="col-lg-10"><textarea class="form-control" rows="3" name="IP" value="" placeholder="多个IP以','分隔；例：1.1.1.1,2.2.2.2" required></textarea></div></div>

      <div class="form-group col-lg-12">
          <div class="col-lg-2"><h5 style="float:right;">端口<font style="color:red;"> *</font></h5></div>
        <div class="col-lg-10"><input class="form-control"  name="port" value=""  placeholder="请输入端口" required></div></div>

      <div class="form-group col-lg-12">
          <div class="col-lg-2"><h5 style="float:right;">备机IP</h5></div>
        <div class="col-lg-10"><input class="form-control"  name="slaveIP" value="" placeholder="请输入备机IP"></div></div>

     <div class="form-group col-lg-12">
        <div class="col-lg-2"><h5 style="float:right;">备注</h5></div>
        <div class="col-lg-10"><textarea class="form-control" rows="3" name="operator_note" value="" placeholder=""></textarea></div></div>

        <div class="col-lg-3"></div>
              <font style="color:red;"> 提示：无备机可不填备机IP;端口必须为数字</font>
              <input name="check_id" value="{{i[0]}}" hidden>


      </div>
      <div class="modal-footer">


 <button   type="submit" class="btn btn-primary confirm_delete">执行</button>
          </form>
      </div>
    </div>
  </div>
</div>
<td align="center"><a class="btn btn-warning btn-xs {% if i[23] != "待执行" %}disabled{% endif %}" type="button" data-toggle="modal" data-target="#myModal{{i[0]}}bh"><span class="fa fa-times"></span></a></td>
     <div class="modal fade" id="myModal{{i[0]}}bh" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel{{i[0]}}bh">执行操作</h4>
      </div>
      <div class="modal-body">
          <form method="post">
          备注：
       <textarea class="form-control" rows="3" name="operator_note" value=""></textarea>
              <input name="times_id" value="{{i[0]}}" hidden>
      </div>
      <div class="modal-footer">

        <button   type="submit" class="btn btn-warning confirm_delete">驳回</button>
          </form>
      </div>
    </div>
  </div>
</div>
</tr>
<tr>
<td colspan="6" width="635px"><div id="{{i[0]}}"  aria-expanded="false" class="collapse" >
<table class="table table-bordered">

                                    <tbody>
                                        <tr>
                                            <td class="info" width="110px"><B>服务类型</B></td>
                                            <td>{{i[6]}}</td>
                                            <td class="info" width="110px"><B>域名</B></td>
                                            <td>{{i[7]}}</td>
                                        </tr>
                                        <tr>
                                            <td class="info"><B>容器</B></td>
                                            <td>{{i[8]}}</td>
                                            <td class="info"><B>单实例内存需求</B></td>
                                            <td>{{i[9]}}</td>
                                        </tr>
                                    <tr>
                                            <td class="info"><B>服务器总数</B></td>
                                            <td>{{i[10]}}</td>
                                            <td class="info"><B>主备需求</B></td>
                                            <td>{{i[11]}}</td>
                                        </tr>
                                    <tr>
                                            <td class="info"><B>服务器需求</B></td>
                                            <td>{{i[12]}}</td>
                                            <td class="info"><B>混部项目名</B></td>
                                            <td>{{i[13]}}</td>
                                        </tr>
                                    <tr>
                                            <td class="info"><B>功能描述</B></td>
                                            <td>{{i[14]}}</td>
                                            <td class="info"><B>监控url</B></td>
                                            <td>{{i[15]}}</td>
                                        </tr>
                                    <tr>
                                            <td class="info"><B>依赖组件</B></td>
                                            <td>{{i[16]}}</td>
                                            <td class="info"><B>备注</B></td>
                                            <td>{{i[24]}}</td>
                                        </tr>



                                    </tbody>
                                </table>

</div></td>

<td colspan="6" width="370px"><div id="lc{{i[0]}}"  aria-expanded="false" class="collapse" >
<table class="table table-bordered">


                                    <thead>
                            <tr>
                                <th class="info">操作人</th>
                                <th class="info">时间</th>
                                <th class="info">操作</th>
                                <th class="info">状态</th>
                                <th class="info">备注</th>
                            </tr>
                            </thead>
                              <tbody>

                                        <tr>
                                            <td>{{i[17]}}</td>
                                            <td>{{i[18]}}</td>
                                            <td>提交</td>
                                            <td>完成</td>
                                            <td>{{i[24]}}</td>
                                        </tr>
                                        {% if i[23] == "已完成" %}
                                         <tr>
                                            <td>{{i[21]}}</td>
                                            <td>{{i[19]}}</td>
                                            <td>同意</td>
                                            <td>完成</td>
                                            <td>{{i[25]}}</td>
                                        </tr>
                                         <tr>
                                            <td>{{i[26]}}</td>
                                            <td>{{i[20]}}</td>
                                            <td>执行</td>
                                            <td>完成</td>
                                            <td>{{i[27]}}</td>
                                        </tr>
                                        {% elif i[23] == "已驳回 " %}
                                        <tr>
                                            <td>{{i[21]}}</td>
                                            <td>{{i[19]}}</td>
                                            <td>同意</td>
                                            <td>完成</td>
                                            <td>{{i[25]}}</td>
                                        </tr>
                                        <tr>
                                            <td>{{i[26]}}</td>
                                            <td>{{i[20]}}</td>
                                            <td>驳回</td>
                                            <td>完成</td>
                                            <td>{{i[27]}}</td>
                                        </tr>
                                        {% elif i[23] == "已驳回" %}
                                        <tr>
                                            <td>{{i[21]}}</td>
                                            <td>{{i[19]}}</td>
                                            <td>驳回</td>
                                            <td>完成</td>
                                            <td>{{i[25]}}</td>
                                        </tr>

                                        {% elif i[23] == "待执行" %}
                                        <tr>
                                            <td>{{i[21]}}</td>
                                            <td>{{i[19]}}</td>
                                            <td>同意</td>
                                            <td>完成</td>
                                            <td>{{i[25]}}</td>
                                        </tr>
                                      {% endif %}


                                    </tbody>
                                </table>
</div></td>
</tr>
{% endfor %}

                            </tbody>
                        </table>



                    </div>
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
    <!-- /.row -->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

<!-- jQuery -->
<script src="/static/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="/static/bower_components/metisMenu/dist/metisMenu.min.js"></script>



<!-- Custom Theme JavaScript -->
<script src="/static/dist/js/sb-admin-2.js"></script>


<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script src="/static/js/sweetalert.min.js"></script>


<script>
        $(' .confirm_delete').click(function(){
                return confirm("确认要提交吗？");
        });
</script>
<script>
    {% if not result %}
    {% elif result == "no_ip" %}
    swal("OMG!", "操作失败,{{ no_ip[1:] }}不在cmdb中", "error");
    {% elif result == 1 %}
    swal("Good!", "操作成功", "success");
    {% else %}
    swal("OMG!", "操作失败", "error");

    {% endif %}
</script>

{% endblock %}
